.componentContainer {
    background: linear-gradient(to right, #403a3e, #be5869);
}

.hobbyText,
.removeHobbyButton {
    display: inline-block;
    padding: 10px;
}
.hobbyContainer {
    height: fit-content;
    width: 50%;
    margin: 5px auto;
}
.hobbyText {
    padding: 15px;
    word-wrap: break-word;
    width: 70%;
    border-radius: 0px 10px 10px 0px;
}
.removeHobbyButton {
    border: none;
    background-color: red;
    font-weight: bold;
    color: white;
    border-radius: 10px 40px 0px 10px;
}
.heading {
    color: white;
    text-align: center;
}
button {
    color: white;
    font-weight: bold;
    width: 80px;
    height: 30px;
    border: none;
    margin: 10px;
    border-radius: 10px;
}

input {
    height: 40px;
    width: 450px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}
input:focus {
    border: 5px solid green;
    outline: none;
}
.formelements {
    text-align: center;
    width: 50%;
    margin: 10px auto;
}
.add {
    color: white;
    font-weight: bold;
    background-color: green;
}
.reset {
    background-color: red;
}

@media (max-width: 500px) {
    .formelements {
        width: 90%;
    }
    input {
        width: 90%;
    }
    .removeHobbyButton,
    .hobbyText {
        margin: 0px;
    }
    .hobbyContainer {
        width: 90%;
    }
    .hobbyText {
        width: 65%;
    }
}
